*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  h1,h3{
    color: #09ec09;
    text-align: center;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
    padding-top: 20px;
  }
  .qr{
    border: 5px solid #09ec09;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: 50px;
  }
  .img{
    height: 200px;
  }